<nav>
    <div class="bottom-navbar">
    <a href="/" class="fas fa-home"></a>
    <a href="./manualDeUso" class="fa-solid fa-laptop-file"></a>
    <a href="./fundamentos" class="fa-solid fa-swatchbook"></a>
</div>
    </nav>