<header class="header">
    <div class="header-container">
        <!-- LOGO -->
        <div class="logo-bookstore">
        <a href="/"><img src="/img/logo.jpg" alt="Logo Book Store" /></a>
        </div>
    
      <!-- NAVEGACION -->
    <div class="header-container-2">
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="../manualDeUso">Manual De Uso</a>
        <a href="../fundamentos">Fundamentos</a>
        
      </nav>
    </div>
  </div>
  </header>