<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include Head con CSS -->
    <%- include("./partials/head") %>

    <title>PureBox</title>
  </head>
  <body>
    <!-- HEADER -->

    <%- include("./partials/header") %>

    <!--Barra de navegacion celular-->
    <%- include("./partials/bottomNav.ejs") %>

    <!-- Centro del body -->
    <main>
      <div class="main-container">
        <h1>Manual de Uso</h1>
          <div class="box">
            <img class="diseñocaja" src="/img/cajapartes.jpg" alt="DiseñoCaja" />
            <div class="info">
            <h2>Diseño</h2>
            <p>La caja esta conformada por dos partes.Una contiene la luces y es donde se coloca el celular y la otra, mas pequeña contiene los componentes de hardware, procesador, etc.
              La caja de la izquierda contiene una luz UVC, encargada de hacer la desinfeccion. Opuesta a ella estan los sensores de UV, que nos dice si efectivamente estafuncionando la lámpara y el de Humedad, que nos mide las condiciones.
              La caja contiene tambien una pantalla LCD, donde nos figura que esta pasando durante la desinfeccion. 
              Atras de la pantalla se encuentran tres luces led. La luz roja se enciende cuando la puerta de la caja esta abierta o cuando hay algun problema con la luz UV.
              La luz verde se enciende cuando se esta desinfectando el celular en condiciones optimas, el tiempo de deinfeccion figura en la pantalla LCD
              La luz amarilla se enciende cuando se esta desinfectando el celular en condiciones no optimas, el tiempo de desinfeccion es mayor y tambie figura en la pantalla LCD
              Una vez que la desinfeccion se termina suena un Buzzer, la pantalla advierte que se termino ladesinfeccion y se abre la puerta para retirar el celular.
            </p>
          </div>
          </div>
          <div class="lightbox">
            <img class="diseñocaja" src="/img/cajaabre.jpg" alt="DiseñoCaja" />
            <div class="info">
            <h2>Como abrirla</h2>
            <p>Precionar el boton Azul que se encuentra sobre la pantalla LCD. Esperar hasta que se abra completamente la tapa, colocar el celular sobre las laminas de vidrio perpendiculares a la lampara
              Volver a precionar el boton y esperar hasta que se cierre la tapa. La desinfeccion comienza automaticamente. 
              Esperar unos segundos o hasta que suene el Buzzer.
              La puerta se abrirá automaticamente, retire su celular.
            </p>
          </div>
            <img class="diseñocaja" src="/img/cajacel.jpg" alt="DiseñoCaja" />
          </div>
      <div class="darkbox">
        <h3>Cuidado! El Acrilico queda quedradizo al exponerse a la luz UV</h3>
      </div>
      </div>
    </main>
    <!-- Footer -->

    <%- include("./partials/footer") %>

    <!-- SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- CUSTOM JS -->
    <script src="js/script.js"></script>
  </body>
</html>
