<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include Head con CSS -->
    <%- include("./partials/head") %>

    <title>PureBox</title>
  </head>
  <body>
    <!-- HEADER -->

    <%- include("./partials/header") %>

    <!--Barra de navegacion celular-->
    <%- include("./partials/bottomNav.ejs") %>

    <!-- Centro del body -->
    <main>
      <div class="main-container">
        <h1>Manual de Uso</h1>
          <div class="box">
            <img class="diseñocaja" src="/img/cajapartes.jpg" alt="DiseñoCaja" />
            <div class="info">
            <h2>Diseño</h2>
            <p>La caja esta conformada por dos cajas.Una contiene la luz UVC y  el celular y la otra, mas pequeña contiene los componentes de hardware.
              <br>
              <br>La luz UVC, encargada de hacer la desinfeccion, se encuentra contra la pared izquierda. Opuesta a ella estan los sensores de UV, que nos dice si efectivamente estafuncionando la lámpara.
              <br>Tambien está el sensor de Humedad, que nos mide las condiciones de humedad y temperatura al momento de desinfectar.
              <br>
              <br>La caja más pequeña contiene una pantalla LCD, donde figura que esta pasando durante el proceso de desinfeccion. 
              <br>
              <br>Atras de la pantalla se encuentran tres luces led, una roja, otra amarilla y otra verde
              <ul>
              <li>La luz roja se enciende cuando la puerta de la caja esta abierta o cuando hay algun problema con la luz UV.
              </li>
              <li>La luz verde se enciende cuando se esta desinfectando el celular en condiciones optimas. El tiempo de deinfeccion es de 10 a 15 segundos y figura en la pantalla LCD
              </li>
              <li>La luz amarilla se enciende cuando se esta desinfectando el celular en condiciones no optimas, el tiempo de desinfeccion es mayor, de 20 a 40 y tambien figura en la pantalla LCD
              </li>
              </ul>
            </p>
          </div>
          </div>
          <div class="lightbox">
            <img class="diseñocaja" src="/img/cajaabre.jpg" alt="DiseñoCaja" />
            <div class="info">
            <h2>Como abrirla</h2>
            <ol>
              <li>Precionar el boton Azul que se encuentra sobre la pantalla LCD. </li>
              <li>Esperar hasta que se abra completamente la tapa y colocar el celular sobre las laminas de vidrio perpendiculares a la lampara
              <li>Volver a precionar el boton y esperar hasta que se cierre la tapa.</li>
              </li>
              <li> La desinfeccion comienza automaticamente.</li> 
              <li>Esperar unos segundos o hasta que suene el Buzzer.</li>
              <li>La puerta se abrirá automaticamente.</li> 
              <li>retire su celular.</li>
          </ol>
          </div>
            <img class="diseñocaja" src="/img/cajacel.jpg" alt="DiseñoCaja" />
          </div>
      <div class="darkbox">
        <h3>Cuidado! El Acrilico queda quedradizo al exponerse a la luz UV</h3>
      </div>
      </div>
    </main>
    <!-- Footer -->

    <%- include("./partials/footer") %>

    <!-- SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- CUSTOM JS -->
    <script src="js/script.js"></script>
  </body>
</html>
